<%- include('partials/header') -%>

<% for (var i = 0; i < productlist.length; i++) { %>



<div class="row">
  <div class="col-lg-8 mx-auto">
      <!-- List group-->
      <ul class="list-group shadow">
          <!-- list group item-->
          <li class="list-group-item">
              <!-- Custom content-->
              <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                  <div class="media-body order-2 order-lg-1">
                    <h5 class="mt-0 font-weight-bold mb-2"><%= productlist[i].Name %></h5>
                    <p class="font-italic text-muted mb-0 small">Information: <%= productlist[i].Information%></p>
                    <div class="d-flex align-items-center justify-content-between mt-1">
                      <h6 class="font-weight-bold my-2">Price: <%= productlist[i].Price%> / <%= productlist[i].Unit%> </h6>
                    </div>
                    
                  </div><img src="/images/<%= productlist[i].urlImg%>" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                </div> 
              </li> 
      </ul>
  </div>
</div>




<% } %>


<%- include('partials/footer') -%>
